<!DOCTYPE html>
<html lang="en" ng-app="taboadaApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="angular.js">
    </script>
    <script src="taboada.js">
    </script>
    <script src="app.js">
    </script>
    <style>
      .taboada{
        border: solid 1px #000000;
      }
      .senha>tbody>tr>td{
        border: solid 1px #000000;
        height: 20px
      }

    </style>
    <link rel="stylesheet" href="simple-grid.css">
  </head>
  <body ng-controller="TaboadaController">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <table class="taboada">
            <tbody>
              <tr>
                <td colspan="5">Taboada do {{multiplicador}}</td>
              </tr>
              <tr ng-repeat = "item in taboada">
                <td>{{item.multiplicando}}</td>
                <td>x</td>
                <td>{{multiplicador}}</td>
                <td>=</td>
                <td>
                  <input type="text" ng-model=item.produto size=3>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6">
          <table class="senha" style="width:400px">
            <tbody>
              <tr>
                <td colspan="10">Senha</td>
              </tr>
              <tr>
                <td style="width:40px;border: solid 1px {{taboada[0].validColor}};">{{taboada[0].produto}}</td>
                <td style="width:40px;border: solid 1px {{taboada[1].validColor}};">{{taboada[1].produto}}</td>
                <td style="width:40px;border: solid 1px {{taboada[2].validColor}};">{{taboada[2].produto}}</td>
                <td style="width:40px;border: solid 1px {{taboada[3].validColor}};">{{taboada[3].produto}}</td>
                <td style="width:40px;border: solid 1px {{taboada[4].validColor}};">{{taboada[4].produto}}</td>
                <td style="width:40px;border: solid 1px {{taboada[5].validColor}};">{{taboada[5].produto}}</td>
                <td style="width:40px;border: solid 1px {{taboada[6].validColor}};">{{taboada[6].produto}}</td>
                <td style="width:40px;border: solid 1px {{taboada[7].validColor}};">{{taboada[7].produto}}</td>
                <td style="width:40px;border: solid 1px {{taboada[8].validColor}};">{{taboada[8].produto}}</td>
                <td style="width:40px;border: solid 1px {{taboada[9].validColor}};">{{taboada[9].produto}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <button type="button" name="button" ng-click=conferir()>Conferir</button>
          <button type="button" name="button" ng-click=proximo()>Proximo</button>
        </div>
      </div>
    </div>
  </body>
</html>
